* , p, pre, h2, h3,h4, ul{
	margin: 0;
	padding: 0;
}
.box{
	width: 1160px;
	margin: 0 auto;
}
.clear:after{
	display: block;
	height: 0;
	content: '';
	clear: both;
}
a{
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
ul{
	list-style: none;
}

/*头部*/
.header{
	width: 100%;
	overflow: hidden;
	min-width: 1200px;
}
.header .box{
	width: 1200px;
	margin: 0 auto;
}
.nav{
	width: 100%;
	background: #333333;
}
.logo{
	float: left;
	margin: 10px 0 7px 1px;
	height: 31px;
	width: 121px;
}
.nav-list{
	margin:13px 0 13px 0;
	float: right;
}
.nav-list li{
	display: inline-block;
	margin-left: 22.7px;
}
.nav-list a{
	color: #B6B6B6;
	line-height: 22px;
	font-size: 16px;
	font-family: PingFangSC-Regular, Microsoft YaHei, Arial;
	display: inline-block;
}
.nav-list a:hover{
	color:#B6B6B6;
}
.big-pic{
	width: 100%;
	min-width: 1200px;
	overflow: hidden;
}
.big-pic img{
	width: 1920px;
	height: 650px;
	position: relative;
	left: 50%;
	margin-left: -960px;
}
/*侧边栏*/
.go-top{
	position: fixed;
	right: 0;
	top: 50%;
	margin-top: -285.5px;
	z-index: 999;
}
.go-top li{
	height: 80px;
	display: block;
	padding-top: 16px;
	background: #F3F5F7;
	border: 1px solid #D7D7D7;
}
.go-top li:first-child, .go-top li:last-child{
	background: #0E8694;
	border:none;
}
.go-top li:first-child a, .go-top li:last-child a{
	color: #FFFFFF;
}
.go-top li:last-child{
	margin-top: 11px;
}
.go-top li:hover{
	background: #0E8694;
}
.go-top li:hover a{
	color: #FFFFFF;
}
.go-top li:hover .show-pic{
	display: none;
}
.go-top li:hover .hide-pic{
	display: block;
}
.go-top a{
	display: block;
	margin: 0 12px;
	font-family: PingFangSC-Regular, Microsoft YaHei, Arial;
	font-size: 14px;
	color: #333333;
	line-height: 20px;
}
.go-top img{
	margin: 0 auto;
}
.show-pic{
	display: block;
}
.hide-pic{
	display: none;
}
.go-top .top-pic1{
	display: block;
	width: 34px;
	height: 28px;
	margin-bottom: 5px;
}
.go-top .top-pic2{
	width: 34px;
	height: 28.3px;
	margin-bottom: 3.7px;
}
.go-top .top-pic3{
	width: 32px;
	height: 34.9px;
	margin-bottom: 4.1px;
}
.go-top .top-pic4{
	width: 34px;
	height: 34px;
	margin-bottom: 6px;
}
.go-top .top-pic5{
	width: 32px;
	height: 36px;
	margin-bottom: 4px;
}
.go-top .top-pic6{
	width: 32px;
	height: 34px;
	margin-bottom: 4px;
}
.go-top .top-pic7{
	display: block;
	width: 32px;
	height: 30px;
	margin-bottom: 5px;
}
/*主要部分*/
.main{
	width: 100%;
	min-width: 1200px;
}
/*大标题*/
.big-title div{
	float:left;
}
.big-title h1{
	margin: 39px 0 1px 10px;
	font-size: 48px;
	line-height: 67px;
	color: #30363E;
	font-family: PingFangSC-Semibold, Microsoft YaHei, Arial;
}
.big-title p{
	margin-left: 12px;
	font-size: 18px;
	line-height: 25px;
	font-family: PingFangSC-Medium, Microsoft YaHei, Arial;
	color: #4D555D;
}
.big-title img{
	margin-right: 10px;
	width: 615px;
	height: 167px;
	float: right;
	margin-left: -700px;
}
.line{
	width: 1161px;
	height: 11px;
	margin-top: 11px;
	display: block;
}
.content{
	padding-top: 61px;
}
#accordion{
	margin: 21px 14px 38px 12px;
}
.card{
	border: none;
}
.card-header{
	padding: 0;
	height: 60px;
	border-bottom: 2px solid #FFFFFF;
}
.card-header h3{
	float: left;
	width: 110px;
	font-family: PingFangSC-Regular, Microsoft YaHei, Arial;
	font-size: 20px;
	color: #FFFFFF;	
	background: #E3783D;
	line-height: 28px;
	padding: 15px 15px 0 15px;
	height: 100%;
}
.card-header h4{
	float: left;
	width: 1024px;
	font-family: PingFangSC-Regular, Microsoft YaHei, Arial;
	font-size: 18px;
	color: #FFFFFF;	
	background: #0E8694;
	line-height: 25px;
	padding: 17px 24.1px 0 21.1px;
	height: 100%;
}
.card-header h4 a{
	float: right;
	display: block;
	color: #FFFFFF;	
}
.card-header img{
	float: left;
	display: block;
	width: 20px;
	height: 10.9px;
	margin: 8.7px 8.9px 0 0;
}
.card-block li{
	font-family: PingFangSC-Regular;
	font-size: 14px;
	color: #4D555D;
	border-bottom: 2px solid #FFFFFF;
	height: 48px;
}
.content-header{
	padding: 0 28px 0 30px;
	display: block;
	width: 278px;
	float: left;
	line-height: 48px
}
.content-content{
	display: block;
	float: left;
	width: 840px;
	line-height: 48px;
}
.card-block li.high, .card-block li.high2{
	height: 78px;
}
.high .content-header{
	padding: 16px 0 14px 30px;
}
.high .content-content{
	line-height: 28px;
	padding: 12px 0 10px 0;
}
.high2 .content-header{
	line-height: 28px;
	padding: 12px 28px 10px 30px;	
}
.high2 .content-content{
	padding: 16px 0 14px 0;
}


/*概况*/
.situation{
	width: 100%;
	padding: 60px 0 56px 0;
	background: #FFFFFF;
}	
/*统一*/
.sit-content h2{
	font-family: PingFangSC-Medium, Microsoft YaHei, Arial;
	color: #30363E;
	font-size: 24px;
	line-height: 33px;
}
.sit-content p{
	font-family: PingFangSC-Regular, Microsoft YaHei, Arial;
	color: #4D555D;
	font-size: 14px;
	line-height: 28px;
}
.sit-content a{
	display: block;
	width: 110px;
	border-radius: 5px;
	background: #0E8694;
	line-height: 42px;
	text-align: center;
	font-size: 16px;
	color: #FFFFFF;
}
.sit-content a:hover{
	color: #FFFFFF;
}
.sit-content img{
	float: left;
}
/*特点*/
.situation1{
	padding-left: 15px;
}
.feature{
	float: left;
	width: 667px;
}
.feature h2{
	margin: 40px 0 21px 0;
}
.feature p{
	width: 540px;
}
.feature a{
	margin: 33px 0 15px 0;
}
.marks{
	font-family: ArialMT, Microsoft YaHei, Arial;
	color: #CCCCCC;
	font-size: 90px;
	line-height: 103px;
	height: 100px;
	text-align: center;
	display: inline-block;
}
.sit-foot{
	margin-top: 40px;
	position: relative;
}
.yhl1{
	width: 30px;
	height: auto;
	display: inline-block;
	position: relative;
	bottom: 14px;
}
.yhr1{
	width: 30px;
	height: auto;
	display: inline-block;
	margin-left: 480px;
	margin-top: -5px;.content{
	padding-top: 61px;
}
#accordion{
	margin-top: 21px;
}
.card-header{
	padding: 0;
	height: 58px
}
.card-header h3{
	float: left;
	width: 110px;
	font-family: PingFangSC-Regular, Microsoft YaHei, Arial;
	font-size: 20px;
	color: #FFFFFF;	
	background: #E3783D;
	line-height: 28px;
	padding: 15px 15px 0 15px;
	height: 100%;
}
.card-header h4{
	float: left;
	width: 1024px;
	font-family: PingFangSC-Regular, Microsoft YaHei, Arial;
	font-size: 18px;
	color: #FFFFFF;	
	background: #0E8694;
	line-height: 25px;
	padding: 17px 24.1px 0 21.1px;
	height: 100%;
}
.card-header h4 a{
	float: right;
	display: block;
	color: #FFFFFF;	
}

}
.notes{
	float: left;
	display: inline-block;
	font-family: PingFangSC-Regular, Microsoft YaHei, Arial;
	font-size: 14px;
	line-height: 26px;
	color: #4D555D;
	display:inline-block;
	margin-left: 4px;
}
.situation .notes{
	width: 446px;
}

.situation1>img{
	width: 441px;
	height: 413px;
	margin-top: 58px;
}
/*应用*/
.situation2{
	padding-left: 12px;
}
.situation2>img{
	width: 520px;
	height: 404px;
	margin: 73px 111px 0 0;
}
.application{
	float: left;
	width: 505px;
}
.application h2{
	margin: 86px 0 21px 0;
	text-align: right;
}
.application p{
	width: 505px;
}
.application a{
	margin: 35px 0 15px 0;
}
.application .marks1{
	margin: 0 4px 0 -65px;
}
/*地位*/
.situation3{
	padding-left: 15px;
}
.status{
	float: left;
	width: 633px;
}
.status h2{
	margin: 61px 0 21px 0;
}
.status p{
	width: 505px;
}
.status a{
	margin-bottom: 15px;
}
.situation3>img{
	width: 509px;
	height: 586px;
	margin-top: 61px;
}
.status ul{
	margin: 27px 0 34px 0;
}
.status ul li{
	font-family: PingFangSC-Regular, Microsoft YaHei, Arial;
	line-height: 28px;
	color: #4D555D;
	font-size:14px;
}
.status ul li span{
	display: inline-block;
	margin-right: 10px;
	height: 8px;
	width: 8px;
	background: #CECECE;
	border-radius: 50%;
	position: relative;
	bottom: 2px;
}
/*时代*/
.situation4{
	margin: 61px -21px 0 15px; 
}
.situation4 h2{
	font-family: PingFangSC-Medium, Microsoft YaHei, Arial;
	color: #30363E;
	font-size: 24px;
	line-height: 33px;
}
.situ-mes{
	float: left;
	width: 262px;
}
.situ-mes>img{
	margin: 30px 0 16px 55px;
	height: 152px;
	width: 152px;
}
.situ-mes h3{
	font-family: PingFangSC-Medium, Microsoft YaHei, Arial;
	color:#4D555D;
	font-size: 14px;
	line-height: 28px;
	text-align: center;
	margin-bottom: 12px;
}
.situ-mes p{
	font-family: PingFangSC-Regular, Microsoft YaHei, Arial;
	color:#4D555D;
	font-size: 14px;
	line-height: 28px;
}
.situ-mes1{
	margin-right:40px;
}
.situ-mes2{
	margin-right:38px;
}
.situ-mes3{
	margin-right:40px;
}
.situ-mes3 p{
	margin-right: -13px;
}
/*就业薪资*/
.salary{
	padding: 60px 0 37px 0;
	background: #F3F5F7;
}
.histogram{
	float: left;
	width: 528px;
}
/*柱状图*/
.legend{
	margin: 38px 0 28.5px 5px;
	font-family: PingFangSC-Medium, Microsoft YaHei, Arial;
	color: #333333;
	font-size: 14px;
	line-height: 20px;
}
.legend span{
	display: inline-block;
	width: 16px;
	height: 12px;
	margin-right: 8px;
}
.legend1{
	background: #FFCC66;
}
.legend2{
	margin-left: 38px;
	background: #3CB3B3;
}
.histogram img{
	width: 496px;
	height: 251px;
}
.abscissa{
	margin: 2.5px 0 24px 61px;
}
.abscissa span{
	font-family: PingFangSC-Regular, Microsoft YaHei, Arial;
	color: #333333;
	font-size:16px;
	line-height: 22px;
	margin-right: 30.5px;
}
.histogram h3{
	font-family: PingFangSC-Medium, Microsoft YaHei, Arial;
	color:#4D555D;
	font-size: 18px;
	line-height: 25px;
}
.histogram-content{
	width: 512px;
	margin-top: 9px;
	font-family: PingFangSC-Medium, Microsoft YaHei, Arial;
	font-size: 16px;
	line-height: 30px;
	color:#4D555D;
}
.histogram-content span{
	color: #BB0000;
}
/*表格*/
.salary-table{
	width: 612px;
	float: left;
}
.salary{
	padding: 60px 0 37px 0;
	background: #F3F5F7;
}
.salary-table h3{
	text-align: center;
	font-size: 18px;
	line-height: 25px;
	color: #4D555D;
	font-family: PingFangSC-Medium, Microsoft YaHei, Arial;
	margin: 44px 0 6px 0;
}
.salary-table .table{
	text-align: center;
	font-family: PingFangSC-Regular, Microsoft YaHei, Arial;
	font-size: 14px;
	background: #DDF1F1;
	margin-bottom: 0;
}
.salary-table .table tr,.salary-table .table th,.salary-table .table td{
	line-height: 24px;
	height: 42px;
	border: none;
	padding: 9px;
	font-family: PingFangSC-Regular, Microsoft YaHei, Arial;
}
.salary-table .table tr:first-child{
	background: #009999;
}
.salary-table [scope="col"]{
	color:#FFFFFF;
}
.light{
	background: #EFEFEF;
}
[scope="col"], [scope="row"]{
	font-weight: 400;
}
.salary-table-footer{
	background: #EFEFEF;
	padding: 14px 13px 16px 20px;
}
.salary-table-footer img{
	float: left;
	width: 60px;
	height: 57px;
	margin: 6px 12px 0 0;
}
.salary-table-footer p{
	float: left;
	width: 507px;
	font-family: PingFangSC-Regular, Microsoft YaHei, Arial;
	font-size: 16px;
	line-height: 22px;
	margin: 0;
}
.salary-table>span{
	margin: 7px 0 39px 6px;
	font-family: PingFangSC-Regular, Microsoft YaHei, Arial;
	color: #999999;
	font-size: 14px;
	line-height: 20px;
	display: block;
}
/*底部*/
.salary-link{
	padding: 0 390px 0 390px;
}
.salary-link a{
	display: inline-block;
	width: 160px;
	height: 48px;
	border-radius: 24px;
	padding: 11px 0 15px 0;
	font-family: PingFangSC-Regular, Microsoft YaHei, Arial;
	font-size: 16px;
	text-align: center;
	line-height: 22px;
	float: left;
}
.try{
	background: #009999;
	color: #FFFFFF;
}
.try:hover{
	color: #FFFFFF;
}
.now{
	margin-left: 60px;
	border: 1px solid #009999;
	color:#009999;
}
.now:hover{
	color:#009999;
}
/*办公环境*/
.environment{
	padding: 61px 0 65px 0;
	background: #FFFFFF ;
}
.tencent{
	margin: 30px 0;
	background: #F3F5F7;
	border: 1px solid #ECECEC;
	border-radius: 4px;
}
.tencent h2{
	margin: 13px 0 0 31px;
	font-family: PingFangSC-Medium, Microsoft YaHei, Arial;
	font-size: 16px;
	line-height: 32px;
}
.tencent p{
	margin: 0 39px 15px 31px;
	font-family: PingFangSC-Regular, Microsoft YaHei, Arial;
	font-size: 16px;
	color: #4D555D;
	line-height: 32px;
}
.environment-pics{
	display: flex;
	justify-content: space-between;
}
.environment-pics img{
	width: 224px;
	height: 148px;
}
/*环境底部*/

.environment-footer div{
	width: 998px;
	float: left;
}
.env-foot{
	margin-top: 57px;
	position: relative;
}
.yhl2{
	width: 30px;
	height: auto;
	display: inline-block;
	position: relative;
	bottom: 40px;
	float: left;
	margin-right: 14px;
}
.yhr2{
	width: 30px;
	height: auto;
	display: inline-block;
	margin-left: 940px;
	margin-top: -15px;
	float:left;
}
.environment .notes{	
	font-size: 16px;
	line-height: 28px;
	width: 919px;
	bottom: -32px;
}
.environment .try{
	display: inline-block;
	width: 160px;
	height: 48px;
	border-radius: 24px;
	padding: 11px 0 15px 0;
	font-family: PingFangSC-Regular, Microsoft YaHei, Arial;
	font-size: 16px;
	text-align: center;
	line-height: 22px;
	position:relative;
	left: 5px;
	top:47px;	
}
/*就业情况*/
.employment{
	padding: 42px 0 41px 0;
	position: relative;
}
.employment .big-title h1{
	margin-top: 49px;
}

.employment .line{
	margin-top: 24px;
}
.orange{
	margin-top:20px;
	background: #E3783D;
	height: 5px;	justify-content: space-between;

	position: relative;
}
.blue{
	position: absolute;
	left: 303px;
	width: 142px;
	height: 5px;
	z-index: 999;
	background: #0E8694;
}
/*就业表格*/
.employment-main{
	background: #FFFFFF;
	border-radius: 0 0 8px 8px;
}
.employment-main p{
	font-family: PingFangSC-Regular, Microsoft YaHei, Arial;
	background: #0E8694;
	margin: 1px 715px 2px 303px;
	padding: 15px 14px 15px 15px;
	font-size: 16px;
	color: #FFFFFF;
}

.employment-table{
	width: 576px;
	text-align: center;
	margin-bottom: 2px;
}
.employment-main-box .employment-table th{
	padding-top: 16px;
	padding-bottom:10px;
	line-height: 22px;
	font-family: PingFangSC-Regular, Microsoft YaHei, Arial;
	font-size: 16px;
	color: rgba(0,0,0,0.85);
	border-top: 1px solid #FFFFFF;
}
.employment-main-box .employment-table th:first-of-type{
	padding-left: 30px;
	padding-right: 0.75rem;
}
.employment-main-box .employment-table th:last-of-type{
	padding-right: 23px;
	padding-left: 0.75rem;
}
.employment-main-box .employment-table tr td:first-child{
	padding-left: 30px;
}
.employment-main-box .employment-table tr td:last-child{
	padding-right: 23px;
}
.employment-main-box .employment-table tr td{
	font-size: 16px;
	line-height: 38px;
    border-top: 1px solid #FFFFFF;
    padding-top: 0;
    padding-bottom: 0;
    height: 38px;
   	font-family: PingFangSC-Regular, Microsoft YaHei, Arial;
}
.dark{
	background: #DDF1F1;
}
.text-left{
	padding-left:0.75rem!important;
	text-align: left;
}
.light2{
	background: #F3F5F7;
}
.employment-main-box{
	display: flex;
	justify-content: space-between;
	margin-right: 1px;
}
.employment .salary-link{
	margin-top: 50px;
}
/*师资力量*/
.teacher{
	padding: 61px 0 16.2px 0;
	position: relative;
}

/*内容一致*/
.teacher-content{
	background: #F3F5F7;
	border: 1px solid #ECECEC;
	width: 1000px;
	position: relative;
}
.teacher-content p{
	font-family: PingFangSC-Regular, Microsoft YaHei, Arial;
	font-size: 16px;
	color: #444444;
	line-height: 32px;
}

.teacher-content a {
	display: block;
	background: #009999;
	border-radius: 5px;
	width: 160px;
	padding: 9px 44px 8px 44px;
	font-family: PingFangSC-Medium, Microsoft YaHei, Arial;
	font-size: 18px;
	line-height: 25px;
	color: #FFFFFF;
}
.teacher-info img{
	display: block;
	position: relative;
}
.pass{
	opacity: 0.3;
	background: #009999;
	width: 220px;
	height: 136px;
	position: relative;
}
.teacher-info span{
	display: block;
	padding: 16px 13px 14px 13px;
	width: 80px;
	height: 80px;
	font-family: PingFangSC-Medium, Microsoft YaHei, Arial;
	font-size: 18px;
	line-height: 25px;
	color: #FFFFFF;
	text-align: center;
	z-index: 999;
	position: relative;
	border-radius: 50%;
	background: #E37235;
}
/*不一致*/
.teacher-info1{
	padding: 140px 53px 39px 53px;
}
.teacher-info2{
	padding: 0 43px 0 117px;
}
.teacher-info1 .teacher-content{
	padding: 27px 313px 30px 30px;
	float: left;
}
.teacher-info2 .teacher-content{
	padding: 27px 30px 30px 312px;
	float: right;
}
.teacher-info1 .teacher-content a {
	margin: 13px 0 0 1px;
}
.teacher-info2 .teacher-content a {
	margin: 45px 0 0 494px;
}
.teacher-info1 img{
	float: left;
	width: 194px;
	height: 361px;
	margin-left: -140px;
	bottom: 96px;
}
.teacher-info2 img{
	float: right;
	width: 260px;
	height: 369.8px;
	margin-right: -260px;
	bottom: 105px;
	right: 85px;
}
.teacher-info1 .pass{
	float: left;
	margin: 129px 0 0 -289px;
}
.teacher-info2 .pass {
	float: right;
	margin: 129px -245px 0 0;
}
.employment .big-title img{
	right: 85px;
}
.teacher-info1 span{
	float: left;
	margin: -47px 0 0 -296px;
}
.teacher-info2 span{
	float: right;
	margin: -47px -327px 0 0;
	right: 85px;
}
.teacher .salary-link{
	position: relative;
	bottom: 54.2px;
}
/*协议*/
.agreement{
	padding: 42px 0;
	background: #F3F5F7;
}
.agreement-content{
	display: flex;
	justify-content: space-between;
	margin: 31px -1px 38px 0;
}
.agreement-content div{
	width: 262px;
}
.agreement-content img{
	width: 170px;
	height: 178px;
	margin-left: 38px;
}
.agreement-content h2{
	font-family: PingFangSC-Medium, Microsoft YaHei, Arial;
	font-size: 18px;
	color: #4D555D;
	text-align: center;
	margin: 43px 0 12px 0;
}
.agreement-content p {
	font-family: PingFangSC-Regular, Microsoft YaHei, Arial;
	font-size: 14px;
	color: #4D555D;
	line-height: 24px;
}
/*合作企业*/
.cooperation{
	padding: 61px 0 58px 0;
}
.cooperation .big-title h1{
	margin-top: 49px;
}

.cooperation-pic1{
	margin: 30px -2px 32px -2px;
	display: flex;
	justify-content: space-between;
}
.cooperation-pic1 img{
	width: 118px;
	height: 128px;
}
.cooperation-pic2{
	margin: 0 96px 41px 96px;
	display: flex;
	justify-content: space-between;
}
.cooperation-pic2 img{
	width: 118px;
	height: 128px;
}
/*底部*/
.footer{
	min-width: 1200px;
}
.footer-link{
	background: #333333;
}
.footer-link .box{
	width: 1200px;
	margin: 0 auto;
}
.footer-logo{
	width: 113.4px;
	height: 120px;
	margin: 42px 38.1px 65px 0;
	float: left;
}
.footer-line1{
	float: left;
	margin-top: 31.5px;
	width: 1px;
	opacity: 0.3;
	border: 1px solid #FFFFFF;
	height: 170px;
}
.footer-link ul{
	float: left;
}
.about{
	margin: 36px 118px 0 79.5px;
}
.footer-link .footer-link-title{
	opacity: 0.5;
	font-family: PingFangSC-Regular, Microsoft YaHei, Arial;
	font-size: 18px;
	color: #FFFFFF;
	line-height: 25px;
	margin-bottom: 5px;
}
.footer-link ul li a{
	display: block;
	opacity: 0.5;
	font-family: PingFangSC-Regular, Microsoft YaHei, Arial;
	font-size: 14px;
	color: #FFFFFF;
	line-height: 28px;
}
.information{
	margin-top: 36px;
}
.sign{
	margin: 36px 78px 0 118px;
}
.footer-line2{
	float: left;
	margin-top: 34px;
	width: 1px;
	opacity: 0.3;
	border: 1px solid #E6E6E6;
	height: 160px;
}
.footer-pic{
	margin: 34px 22px 0 54px;
	float: left;
}
.footer-pic img{
	width: 100px;
	height: 100px;
}
.footer-pic h4{
	opacity: 0.5;
	font-family: PingFangSC-Regular, Microsoft YaHei, Arial;
	font-size: 14px;
	color: #FFFFFF;
	line-height: 28px;
	margin-top: 3px;
	text-align: center;
}
.footer-address{
	background: #000000;
}
.footer-address pre{
	opacity: 0.5;
	font-family: PingFangSC-Regular, Microsoft YaHei, Arial;
	font-size: 14px;
	color: #FFFFFF;
	padding: 13px 188px 15px 168px;
	line-height: 20px;
	height: 48px;
	overflow: hidden;
}
.footer-address pre span{
	background: #D8D8D8;
	display: inline-block;
	width: 18px;
	height: 18px;
	position: relative;
	top: 3px;
}
